.breadcrumbs {
	padding-bottom: 43px;
	padding-top: 40px;
	@media (max-width: 1640px) {
		@include adaptiv(padding-bottom, 43, 20, 1600, 320);
		@include adaptiv(padding-top, 40, 20, 1600, 320);
	}

	&.white {
		a {
			color: #fff;
		}
	}

	&__container {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		margin: 0 -20px;
		& > span {
			display: inline-flex;
		}
		@media (max-width: 1200px) {
			margin: 0 -15px;
		}
		@media (max-width: 768px) {
			margin: 0 -10px;
		}
		@media (max-width: 374px) {
			margin: 0 -8px;
		}

		.post,
		.home,
		.archive,
		.taxonomy,
		.category {
			font-size: 14px;
			line-height: lh(19, 14);
			letter-spacing: 0.2em;
			text-transform: uppercase;
			color: #766153;
			margin-right: 20px;
			margin-left: 20px;
			@media (max-width: 1200px) {
				margin: 0 15px;
			}
			@media (max-width: 992px) {
				font-size: 13px;
			}
			@media (max-width: 768px) {
				font-size: 12px;
				margin: 0 10px;
			}
			@media (max-width: 420px) {
				font-size: 11px;
			}
			@media (max-width: 374px) {
				font-size: 10px;
				margin: 0 8px;
			}
		}
	}

	a {
		color: #000;
	}
	// .breadcrumbs__break
	&__break {
		width: 43px;
		height: 1px;
		background: #9e8c73;
		// background: url("../img/break.svg") center / contain no-repeat;

		@media (max-width: 576px) {
			width: 22px;
		}
	}

	.currnet-item {
	}
}
