.container {
	max-width: 1760px;
	width: 100%;
	padding: 0 60px;
	margin: 0 auto;
	@media (max-width: 1300px) {
		padding-left: 40px;
		padding-right: 40px;
	}
	@media (max-width: 768px) {
		padding-left: 20px;
		padding-right: 20px;
	}
}

html,
body {
	font-size: 18px;
}

.wrapper {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	overflow: hidden;
	&--visible {
		overflow: visible;
	}
}

.main {
	flex: 1 1 auto;
}

.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	clip: rect(0 0 0 0);
}

.disable-scroll {
	overflow: hidden;
	height: 100vh;
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
}

.help-img {
	visibility: hidden;
	opacity: 0;
	width: 100%;
	height: auto;
	display: block;
}

.flex-help {
	overflow: hidden !important;
	visibility: hidden !important;
	opacity: 0 !important;
	height: 0 !important;
	max-height: 0 !important;
	min-height: 0 !important;
	padding-top: 0 !important;
	padding-bottom: 0 !important;
	margin-top: 0 !important;
	margin-bottom: 0 !important;
}

sup {
	font-size: 0.7em;
}

.os-scrollbar-handle {
	opacity: 0;
	visibility: hidden;
}

div.wpcf7-response-output,
div.wpcf7-validation-errors,
div.wpcf7 .ajax-loader {
	display: none !important;
}

span.wpcf7-not-valid-tip {
	display: none;
}

.alertify-notifier {
	z-index: 99997;
}

.wpcf7-not-valid {
	border-color: red !important;
}

input[type="submit"] {
	cursor: pointer;
}
a[data-src="#modal-polit"],
p[data-src="#modal-polit"] {
	cursor: pointer;
	transition: 0.3s;
	&:hover {
		color: $gold;
	}
}

.cross {
	width: 25px;
	height: 25px;
	flex: 0 0 25px;
	position: relative;
	background-color: transparent;

	&::after,
	&::before {
		content: "";
		position: absolute;
		background: #9e8c73;
	}
	&::after {
		top: 50%;
		left: 0;
		transform: translateY(-50%);
		width: 100%;
		height: 2px;
	}
	&::before {
		top: 0;
		left: 50%;
		transform: translateX(-50%);
		width: 2px;
		height: 100%;
	}
}

.btn {
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	padding: 10px 15px;
}

.call-btn {
	min-height: 35px;
	max-width: 170px;
	width: 100%;
	font-size: 12px;
	line-height: 16px;
	text-align: center;
	letter-spacing: 0.1em;
	color: #ffffff;
	border: 1px solid #9e8c73;
}

.title {
	font-family: "Lighthaus";
	font-size: 48px;
	line-height: lh(58, 48);
	text-transform: uppercase;
	@media (max-width: 1919px) {
		@include adaptiv(font-size, 48, 22, 1919, 320);
	}
}

.gold {
	color: $gold;
}

[data-src="#modal-call"] {
	cursor: pointer;
}
[data-src="#modal"] {
	cursor: pointer;
}

.swiper-button-disabled {
	display: none !important;
}

// Анимации

@keyframes gallery {
	0% {
		transform: translateX(0);
	}
	100% {
		transform: translateX(-100%);
	}
}
@keyframes round {
	0% {
		transform: rotate(0);
	}
	100% {
		transform: rotate(360deg);
	}
}
@keyframes svg {
	0% {
		stroke-dashoffset: 1935;
	}
	100% {
		stroke-dashoffset: 0;
	}
}
@keyframes wave {
	0% {
	}
	50% {
		transform: skew(10deg, 10deg);
	}
	100% {
	}
}

[data-aos="branch"] {
	transition-property: transform;
	transform: rotate(30deg);

	&.aos-animate {
		transform: rotate(0);
	}
}

[data-aos="svg"] {
	@media (min-width: 1101px) {
		&.aos-animate {
			svg {
				stroke-dashoffset: 0;
			}
		}
	}
}

[data-aos="title-w"] {
	@media (min-width: 1101px) {
		position: relative;
		&::before {
			content: "";
			position: absolute;
			top: 0;
			right: 0;
			width: 100%;
			height: 100%;
			background: #fff;
			transition: width 2s ease-in-out;
		}

		&.aos-animate {
			&::before {
				width: 0;
			}
		}
	}
}

[data-aos="title-b"] {
	@media (min-width: 1101px) {
		position: relative;
		&::before {
			content: "";
			position: absolute;
			top: 0;
			right: 0;
			width: 100%;
			height: 100%;
			background: #283044;
			transition: width 2s ease-in-out;
		}

		&.aos-animate {
			&::before {
				width: 0;
			}
		}
	}
}

[data-aos="photo"] {
	@media (min-width: 1101px) {
		transition-property: transform, opacity;
		transform-origin: center top !important;
		transform: scale(0.5);
		opacity: 0;
		&.aos-animate {
			transform: none;
			opacity: 1;
		}
	}
}

[data-aos="photo"] {
	@media (min-width: 1101px) {
		transition-property: transform, opacity;
		transform-origin: center top !important;
		transform: scale(0.5);
		opacity: 0;
		&.aos-animate {
			transform: none;
			opacity: 1;
		}
	}
}

.hvr-sweep-to-right {
	vertical-align: middle;
	-webkit-transform: perspective(1px) translateZ(0);
	transform: perspective(1px) translateZ(0);
	box-shadow: 0 0 1px rgba(0, 0, 0, 0);
	position: relative;
	-webkit-transition-property: color;
	transition-property: color;
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
}
.hvr-sweep-to-right:before {
	content: "";
	position: absolute;
	z-index: -1;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: #8f7c61;
	-webkit-transform: scaleX(0);
	transform: scaleX(0);
	-webkit-transform-origin: 0 50%;
	transform-origin: 0 50%;
	-webkit-transition-property: transform;
	transition-property: transform;
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
	-webkit-transition-timing-function: ease-out;
	transition-timing-function: ease-out;
}

.hvr-sweep-to-right:hover:before {
	-webkit-transform: scaleX(1);
	transform: scaleX(1);
}

@keyframes preloader {
	100% {
		transform: translate(0, 0);
	}
}

.preloader {
	position: fixed;
	width: 100%;
	height: 100%;
	background-color: #fafafa;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 9999;
	background: #283044;
	display: flex;
	justify-content: center;
	align-items: center;

	svg {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		width: 618px;
		height: 618px;
		stroke-dasharray: 1935;
		stroke-dashoffset: 1935;
		transition: 2s;
		animation-name: svg;
		animation-timing-function: linear;
		animation-duration: 3s;
		animation-iteration-count: 1;
		animation-fill-mode: forwards;
	}
	svg:nth-child(2) {
		top: calc(50% + 15px);
		left: calc(50% - 30px);
	}

	.logo__row:nth-child(1) {
		visibility: hidden;
	}

	img {
		transform: translate(-100vw, 0);
		animation-name: preloader;
		animation-duration: 1.2s;
		animation-iteration-count: 1;
		animation-fill-mode: forwards;
	}

	.anim {
		display: flex;
		span {
			// transition: 0.7s;
			// transform: none !important;
			animation-name: preloader;
			animation-duration: 1.2s;
			animation-iteration-count: 1;
			animation-fill-mode: forwards;
			// animation: name duration timing-function delay iteration-count direction fill-mode;
		}
		span:nth-child(1) {
			transform: translate(-150vw, -100vh);
			// top: -150vh;
			// left: -150vw;
		}
		span:nth-child(2) {
			transform: translate(-150vw, 0);
			// bottom: -150vh;
			// left: -150vw;
		}
		span:nth-child(3) {
			transform: translate(0, -100vh);
			// top: -150vh;
			// right: -150vw;
		}
		span:nth-child(4) {
			transform: translate(150vw, -100vh);
			// bottom: -150vh;
			// right: -150vw;
		}
		span:nth-child(5) {
			transform: translate(-150vw, 100vh);
			// top: -150vh;
			// left: -150vw;
		}
		span:nth-child(6) {
			transform: translate(150vw, 100vh);
			// top: -150vh;
			// left: 0;
		}
		span:nth-child(7) {
			transform: translate(-150vw, 300px);
			// top: 0;
			// left: -150vw;
		}
		span:nth-child(8) {
			transform: translate(300px, -100vh);
			// top: -300px;
			// left: -150vw;
		}
		span:nth-child(9) {
			transform: translate(700px, 100vh);
			// top: -150vh;
			// left: 700px;
		}
	}
}
