.type-style {
	h1 {
		margin-bottom: 40px;
		@media (max-width: 992px) {
			@include adaptiv(margin-bottom, 35, 20, 992, 320);
		}
	}
	p,
	h2,
	h3,
	h4,
	h5,
	h6,
	ul,
	ol,
	.table {
		margin-bottom: 25px;
		@media (max-width: 992px) {
			@include adaptiv(margin-bottom, 25, 15, 992, 320);
		}
	}
	p {
		font-size: 18px;
		line-height: 1.67;
		@media (max-width: 992px) {
			@include adaptiv(font-size, 18, 15, 992, 320);
		}
	}

	h1 {
		font-family: "Lighthaus";
		font-size: 48px;
		line-height: 1.21;
		text-transform: uppercase;
		color: #000000;
		@media (max-width: 1200px) {
			@include adaptiv(font-size, 36, 25, 1200, 320);
		}
	}
	h2 {
		font-weight: 700;
		font-size: 40px;
		line-height: 1.25;
		color: #000000;
		text-transform: uppercase;
		@media (max-width: 1200px) {
			@include adaptiv(font-size, 30, 16, 1200, 320);
		}
	}

	h3 {
		font-weight: 700;
		font-size: 36px;
		line-height: 1.28;
		color: #000000;
		text-transform: uppercase;
		@media (max-width: 1200px) {
			@include adaptiv(font-size, 24, 15, 1200, 320);
		}
	}

	h4 {
		font-weight: bold;
		font-size: 30px;
		line-height: 1.33;
		color: #000000;
		text-transform: uppercase;
		@media (max-width: 1200px) {
			@include adaptiv(font-size, 20, 14, 1200, 320);
		}
	}

	h5 {
		font-weight: bold;
		font-size: 24px;
		line-height: 1.42;
		color: #000000;
		text-transform: uppercase;
		@media (max-width: 992px) {
			@include adaptiv(font-size, 16, 13, 992, 320);
		}
	}
	ul,
	ol {
		li {
			font-size: 20px;
			line-height: 1.67;
			@media (max-width: 992px) {
				@include adaptiv(font-size, 20, 15, 992, 320);
			}
			&:not(:last-child) {
				margin-bottom: 20px;
				@media (max-width: 992px) {
					@include adaptiv(margin-bottom, 15, 7, 992, 320);
				}
			}
		}
	}

	ul li {
		position: relative;
		padding-left: 20px;
		&::before {
			content: "~";
			position: absolute;
			top: 0;
			left: 0;
			color: $gold;
		}
	}
	ol {
		counter-reset: type;
		list-style-type: none;
		li {
			position: relative;
			padding-left: 30px;
		}
		li::before {
			counter-increment: type;
			content: counter(type) "-";
			position: absolute;
			top: 0.05em;
			left: 0;
			color: $gold;
		}
	}
	.table {
		overflow-x: auto;
	}
	table {
		border-collapse: collapse;
		width: 100%;
		min-width: 420px;
		font-size: 18px;
		@media (max-width: 768px) {
			font-size: 15px;
		}
		@media (max-width: 425px) {
			font-size: 14px;
		}
		th {
			padding: 15px 25px;
			line-height: 1.5;
			text-transform: uppercase;
			color: #ffffff;
			border-left: 1px solid #fff;
			border-right: 1px solid #fff;
			border-bottom: 1px solid #fff;
			background: $gold;
			text-align: left;
			font-weight: 700;
			@media (max-width: 992px) {
				padding: 10px 20px;
			}
			@media (max-width: 768px) {
				padding: 10px 15px;
			}
			&:first-child {
				border-left: none;
			}
			&:last-child {
				border-right: none;
			}
		}
		td {
			padding: 20px 34px;
			line-height: 1.5;
			color: #000;
			border: 1px solid $gold;
			@media (max-width: 992px) {
				padding: 10px 20px;
			}
			@media (max-width: 768px) {
				padding: 10px 15px;
			}
			&:first-child {
				border-left: none;
			}
			&:last-child {
				border-right: none;
			}
		}
		tr {
			background: #fff;
			td:first-child {
				background: #e5e5e5;
				font-size: 16px;
				letter-spacing: 0.2em;
				border-bottom: 1px solid #fff;
				border-right: 1px solid #fff;
			}
		}
	}
}
