.art {
	margin-bottom: 164px;
	// .art__container
	&__container {
	}
	// .art__flex
	&__flex {
		display: flex;
		@media (max-width: 1213px) {
			flex-direction: column;
		}
	}
	// .art__left
	&__left {
		padding-top: 113px;
		padding-bottom: 145px;
		margin-right: 23px;
		flex: 0 0 545px;
		@media (max-width: 1500px) {
			margin-right: 60px;
		}
		@media (max-width: 1213px) {
			order: 1;
			margin-right: 0;
			display: flex;
			flex-direction: column;
			align-items: center;
			@include adaptiv(padding-top, 113, 50, 1213, 320);
			padding-bottom: 0;
		}
	}
	// .art__branch
	&__branch {
		display: inline-block;
		width: 140px;
		height: 128px;
		margin-bottom: 36px;
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center;
		@media (max-width: 768px) {
			width: 75px;
			height: 68px;
		}
	}
	// .art__title
	&__title {
		margin-bottom: 62px;
		color: #000;
		@media (max-width: 1213px) {
			@include adaptiv(margin-bottom, 62, 30, 1213, 320);
		}
	}
	// .art__subtitle
	&__subtitle {
		font-size: 18px;
		line-height: 1.67;
		color: #000000;
		margin-bottom: 83px;
		@media (max-width: 1213px) {
			@include adaptiv(margin-bottom, 83, 35, 1213, 320);
		}
	}
	// .art__link
	&__link {
		position: relative;
		padding-left: 40px;
		font-size: 16px;
		line-height: lh(22, 16);
		color: #9e8c73;
		transition-duration: 0.75s;
		transition-timing-function: cubic-bezier(0.3, 0.1, 0.3, 1);
		@media (max-width: 1213px) {
			margin-right: auto;
		}

		&:hover {
			letter-spacing: 0.17em;
			padding-left: 47px;
			svg {
				stroke-dashoffset: 0;
			}
			&::before {
				transform: translateX(7px);
			}
		}

		&::before {
			content: "";
			position: absolute;
			top: 0.6em;
			left: 0;
			width: 18px;
			height: 1px;
			background: $gold;
			transition-duration: 0.6s;
			transition-timing-function: cubic-bezier(0.3, 0.1, 0.3, 1);
		}

		svg {
			position: absolute;
			top: 0;
			left: -10px;
			transform: translate(0, -50%);
			pointer-events: none;
			stroke-dasharray: 1000;
			stroke-dashoffset: 1000;
			transition: 1s ease-in-out;
			width: 140px;
			height: 140px;
			@media (max-width: 1213px) {
				display: none;
			}
		}
	}
	// .art__right
	&__right {
		position: relative;
		margin-right: calc((100vw - 100%) / -2);
		flex: 1 0 auto;
		max-width: 1233px;
		@media (max-width: 1760px) {
			margin-right: -60px;
		}
		@media (max-width: 1213px) {
			order: 0;
			height: 795px;
			margin-left: -40px;
		}
		@media (max-width: 1200px) {
			margin-right: -40px;
		}
		@media (max-width: 576px) {
			margin-right: -20px;
			margin-left: -20px;
		}
		@media (max-width: 374px) {
			height: 700px;
		}
	}
	// .art__men
	&__men {
		position: absolute;
		bottom: 0;
		left: 0;
		width: 75.8%;
		padding-bottom: 54.8%;
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center;
		z-index: 1;
		@media (max-width: 1213px) {
			width: 727px;
			height: 525px;
			padding-bottom: 0;
		}
		@media (max-width: 722px) {
			left: -224px;
		}
	}
	// .art__image
	&__image {
		position: relative;
		max-width: 730px;
		width: 100%;
		margin-left: auto;
		height: 100%;
		overflow: hidden;
		@media (max-width: 1213px) {
			position: absolute;
			top: 0;
			right: 0;
			height: 100%;
		}
		img {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			object-fit: cover;
			object-position: center;
			font-family: "object-fit: cover; object-position: center;";
			transition: 0.3s;
		}
	}
}
.title {
}
