.header {
	background: $blue;

	// .header__container
	&__container {
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding-top: 25px;
		padding-bottom: 25px;
		@media (max-width: 992px) {
			@include adaptiv(padding-top, 25, 5, 992, 375);
			@include adaptiv(padding-bottom, 25, 5, 992, 375);
		}
		@media (max-width: 375px) {
			padding-top: 5px;
			padding-bottom: 5px;
		}
	}
	// .header__logo
	&__logo {
		margin-right: 40px;
		@media (max-width: 576px) {
			margin-right: 20px;
		}
	}
	// .header__nav
	&__nav {
		margin-right: 40px;
		@media (max-width: 1300px) {
			display: none;
		}
		ul {
			display: flex;
			align-items: center;
		}
		li {
			&:not(:last-child) {
				margin-right: 46px;
				@media (max-width: 1410px) {
					@include adaptiv(margin-right, 40, 30, 1410, 1301);
				}
			}

			&.current-menu-item a {
				color: #ffffff;
			}

			a {
				font-size: 16px;
				line-height: lh(22, 16);
				color: #9e8c73;
				transition: 0.3s;
				&:hover {
					color: #fff;
				}
			}
		}
	}
	// .header__right
	&__right {
		display: flex;
		align-items: center;
		@media (max-width: 1300px) {
			margin-left: auto;
		}
	}
	// .header__department
	&__department {
		margin-right: 32px;
		font-size: 14px;
		line-height: lh(19, 14);
		color: rgba(255, 255, 255, 0.5);
		white-space: nowrap;
		@media (max-width: 1550px) {
			display: none;
		}
	}
	// .header__tel
	&__tel {
		margin-right: 36px;
		font-size: 16px;
		line-height: lh(22, 16);
		color: #ffffff;
		white-space: nowrap;
		transition: 0.3s;
		@media (max-width: 768px) {
			margin-right: 0;
		}
		@media (max-width: 576px) {
			@include adaptiv(font-size, 16, 12, 576, 374);
		}
		@media (max-width: 374px) {
			display: none;
		}

		&:hover {
			color: $gold;
		}
	}
	// .header__btn
	&__btn {
		@media (max-width: 768px) {
			display: none;
		}
	}
	// .header__burger
	&__burger {
		display: none;
		flex: 0 0 59px;
		height: 59px;
		margin-left: 40px;
		border-radius: 100%;
		justify-content: center;
		align-items: center;
		font-size: 10px;
		line-height: lh(14, 10);
		text-align: center;
		text-transform: uppercase;
		color: #fff;
		border: 1px solid $gold;
		background: transparent;
		transition: 0.3s;
		&:hover {
			color: #fff;
			background: $gold;
			border: 1px solid $gold;
		}
		@media (max-width: 1300px) {
			display: flex;
		}
		@media (max-width: 576px) {
			flex: 0 0 50px;
			height: 50px;
		}
	}
}

.logo {
	// .logo__row
	&__row {
		&:nth-child(1) {
			padding-left: 33px;
			margin-bottom: 2px;
			font-size: 8px;
			line-height: 11px;
			letter-spacing: 0.41em;
			text-transform: uppercase;
			color: #ffffff;
			@media (max-width: 1410px) {
				font-size: 7px;
				margin-bottom: 0;
				line-height: 8px;
			}
		}

		&:nth-child(2) {
			margin-bottom: 3px;
			display: flex;
			align-items: center;
			font-family: "Lighthaus";
			font-size: 30px;
			line-height: lh(39, 30);
			text-transform: uppercase;
			color: #ffffff;
			@media (max-width: 1410px) {
				font-size: 28px;
			}

			img {
				margin-right: 11px;
				max-width: 22px;
				max-height: 22px;
			}
		}
		&:nth-child(3) {
			padding-left: 33px;
			font-size: 10px;
			line-height: lh(14, 10);
			letter-spacing: 0.45em;
			text-transform: uppercase;
			color: rgba(255, 255, 255, 0.4);
			@media (max-width: 1410px) {
				font-size: 9px;
			}
		}
	}

	&.header__logo .logo__row:nth-child(1) {
		@media (max-width: 576px) {
			padding-left: 15px;
			font-size: 4px;
			line-height: 1;
			letter-spacing: 0.36em;
		}
	}

	&.header__logo .logo__row:nth-child(2) {
		@media (max-width: 576px) {
			font-size: 14px;
			margin-bottom: 0;
		}
	}
	&.header__logo .logo__row:nth-child(3) {
		@media (max-width: 576px) {
			padding-left: 16px;
			font-size: 5px;
			letter-spacing: 0.37em;
			line-height: 1;
		}
	}

	&.header__logo img {
		@media (max-width: 576px) {
			max-width: 11px;
			max-height: 11px;
			margin-right: 4px;
			margin-bottom: 2px;
		}
	}
}
.current-menu-item {
}
