.catalog {
	background: #20283c;
	// .catalog__container
	&__container {
		padding-bottom: 195px;
	}
	// .catalog__title
	&__title {
		margin-bottom: 88px;
		color: #fff;
	}
	// .catalog__links
	&__links {
		display: flex;
	}
	// .catalog__block
	&__block {
		overflow: hidden;
	}
	// .catalog__slider
	&__slider {
		max-width: 589px;
		width: 100%;
	}
	// .catalog__control
	&__control {
	}
	// .catalog__pagination
	&__pagination {
	}
	.swiper-slide {
		height: 100%;
		transition: 0.7s;
		// width: calc((100% - 192px) * 0.26);
	}
	.swiper-slide-active {
		// width: calc((100% - 192px) * 0.406);
	}
	.swiper-slide-next {
		padding-top: 200px;
		.item-new {
			max-width: 378px;
		}

		& + .swiper-slide {
			.item-new {
				max-width: 378px;
				transform: translateX(-245px);
			}
		}
	}
	.item-new {
		transition: 1s;
	}
}

.swiper-wrapper {
}
.swiper-slide {
}
.new {
	// .new__item
	&__item {
	}
}
.item-new {
	// .item-new__img
	&__img {
	}
	// .item-new__date
	&__date {
	}
	// .item-new__title
	&__title {
	}
	// .item-new__subtitle
	&__subtitle {
	}
}

.catalog--prev {
}
.catalog--next {
}
