.projects {
	// .projects__container
	&__container {
		padding-bottom: 167px;
		padding-top: 87px;
		background: url("../img/gold.svg") 123% 91.5% no-repeat;
	}
	// .projects__title
	&__title {
		margin-bottom: 65px;
		color: #000;
	}
	// .projects__grid
	&__grid {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		grid-column-gap: 245px;
		grid-row-gap: 80px;
		@media (max-width: 1919px) {
			@include adaptiv(grid-column-gap, 245, 70, 1919, 1000);
		}
		@media (max-width: 1000px) {
			grid-template-columns: repeat(2, 1fr);
			grid-row-gap: 50px;
			grid-column-gap: 70px;
		}
		@media (max-width: 768px) {
			grid-column-gap: 40px;
		}
		@media (max-width: 576px) {
			grid-column-gap: 20px;
			padding-left: 37px;
			padding-right: 37px;
			grid-template-columns: repeat(auto-fit, minmax(240px, 400px));
			justify-content: center;
		}
		@media (max-width: 374px) {
			padding-left: 0;
			padding-right: 0;
		}
	}
	// .projects__column
	&__column {
	}
}
.item-project {
	padding-top: 38px;
	display: flex;
	flex-direction: column;
	position: relative;

	&:hover {
		.item-project__link {
			letter-spacing: 0.12em;
			padding-left: 40px;
			&::before {
				transform: translateX(7px);
			}
		}
	}
	// .item-project__img
	&__img {
		position: relative;
		padding-bottom: 130.5%;
		margin-bottom: 34px;
		overflow: hidden;
		@media (max-width: 1700px) {
			@include adaptiv(margin-bottom, 34, 22, 1700, 1001);
		}
		@media (max-width: 1000px) {
			@include adaptiv(margin-bottom, 34, 22, 1000, 577);
		}
		@media (max-width: 576px) {
			@include adaptiv(margin-bottom, 34, 22, 576, 375);
		}
		@media (max-width: 374px) {
			margin-bottom: 22px;
		}
		img {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			object-fit: cover;
			object-position: center;
			font-family: "object-fit: cover; object-position: center;";
		}
	}
	// .item-project__descr
	&__descr {
		margin-bottom: 15px;
		font-size: 18px;
		line-height: lh(25, 18);
		color: #000000;
		@media (max-width: 1700px) {
			@include adaptiv(font-size, 18, 16, 1700, 1001);
			@include adaptiv(margin-bottom, 15, 5, 1700, 1001);
		}
		@media (max-width: 1000px) {
			@include adaptiv(font-size, 18, 16, 1000, 577);
			@include adaptiv(margin-bottom, 15, 5, 1000, 577);
		}
		@media (max-width: 576px) {
			@include adaptiv(font-size, 18, 16, 1000, 577);
			@include adaptiv(margin-bottom, 15, 5, 576, 375);
		}
		@media (max-width: 374px) {
			font-size: 16px;
			margin-bottom: 5px;
		}
	}
	// .item-project__title
	&__title {
		margin-bottom: 30px;
		font-weight: 700;
		font-size: 36px;
		line-height: 1.28;
		color: #000000;
		@media (max-width: 1700px) {
			@include adaptiv(font-size, 36, 30, 1700, 1001);
			@include adaptiv(margin-bottom, 30, 15, 1700, 1001);
		}
		@media (max-width: 1000px) {
			@include adaptiv(font-size, 36, 30, 1000, 577);
			@include adaptiv(margin-bottom, 30, 15, 1000, 577);
		}
		@media (max-width: 576px) {
			@include adaptiv(font-size, 36, 30, 1000, 577);
			@include adaptiv(margin-bottom, 30, 15, 576, 375);
		}
		@media (max-width: 374px) {
			font-size: 30px;
			margin-bottom: 15px;
		}
	}
	// .item-project__link
	&__link {
		padding-left: 34px;
		font-size: 16px;
		line-height: lh(22, 16);
		color: #766153;
		position: relative;
		transition-duration: 0.75s;
		transition-timing-function: cubic-bezier(0.3, 0.1, 0.3, 1);
		&::before {
			content: "";
			position: absolute;
			top: 0.5em;
			left: 0;
			width: 18px;
			height: 1px;
			background: #766153;
			transition-duration: 0.5s;
			transition-timing-function: cubic-bezier(0.3, 0.1, 0.3, 1);
			transition-delay: 0.1s;
		}
	}

	&--coming {
		.item-project__img img {
			filter: blur(3px);
		}
	}
}

.hide-item-project {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	padding: 40px 15px;
	z-index: 2;
	display: flex;
	flex-direction: column;
	justify-content: center;
	// .hide-item-project__title
	&__title {
		margin-bottom: 15px;
		font-weight: 700;
		font-size: 36px;
		line-height: lh(49, 36);
		text-align: center;
		color: #ffffff;
		@media (max-width: 1700px) {
			@include adaptiv(font-size, 36, 30, 1700, 1001);
			@include adaptiv(margin-bottom, 15, 5, 1700, 1001);
		}
		@media (max-width: 1000px) {
			@include adaptiv(font-size, 36, 30, 1000, 577);
			@include adaptiv(margin-bottom, 15, 5, 1000, 577);
		}
		@media (max-width: 576px) {
			@include adaptiv(font-size, 36, 30, 1000, 577);
			@include adaptiv(margin-bottom, 15, 5, 576, 375);
		}
		@media (max-width: 374px) {
			font-size: 30px;
			margin-bottom: 5px;
		}
	}
	// .hide-item-project__subtitle
	&__subtitle {
		font-size: 18px;
		line-height: lh(25, 18);
		text-align: center;
		color: #ffffff;
		@media (max-width: 1700px) {
			@include adaptiv(font-size, 18, 15, 1700, 1001);
		}
		@media (max-width: 1000px) {
			@include adaptiv(font-size, 18, 15, 1000, 577);
		}
		@media (max-width: 576px) {
			@include adaptiv(font-size, 18, 15, 576, 375);
		}
		@media (max-width: 374px) {
			font-size: 15px;
		}
	}
}

.rounds {
	display: flex;
	position: absolute;
	top: 0;
	left: 22px;
	z-index: 2;
	// .rounds__item
	&__item {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 119px;
		height: 119px;
		padding: 30px 17px;
		font-size: 16px;
		line-height: lh(22, 16);
		text-align: center;
		color: #ffffff;
		background: #000;
		border-radius: 100%;
		overflow: hidden;

		@media (max-width: 1410px) and (min-width: 1001px) {
			width: 103px;
			height: 103px;
			font-size: 14px;
		}
		@media (max-width: 789px) and (min-width: 577px) {
			width: 103px;
			height: 103px;
			font-size: 14px;
		}
		@media (max-width: 477px) {
			width: 103px;
			height: 103px;
			font-size: 14px;
		}

		&:not(:last-child) {
			margin-right: 10px;
		}

		&--gold {
			background: $gold;
		}
	}
}
