@import "_fonts.scss";
@import "_variables.scss";
@import "_reset.scss";
@import "_overall.scss";
@import "_type-styles.scss";
// @import "_burger.scss";
@import "_breadcrumbs.scss";

// modals
@import "_modal.scss";
@import "_modal-polit.scss";
@import "modal-home.scss";
@import "mobile-menu.scss";

//components
@import "header.scss";
@import "footer.scss";
@import "hero.scss";
@import "projects.scss";
@import "new.scss";
@import "art.scss";
@import "partners.scss";
@import "about.scss";
@import "contacts.scss";
@import "object-single.scss";
@import "news-single.scss";
